sudo: false

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt/boot
  - $HOME/.sbt/launchers

language: scala

scala:
  - 2.12.7

jdk:
  - oraclejdk8

matrix:
  fast_finish: true

env:
  matrix:
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.12.7 mimaReportBinaryIssues test it:test"
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.12.7 -Dmima.testScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.12.7 -Dmima.testScalaVersion=2.13.0-M5 testFunctional"
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.12.7 \"scripted sbt-mima-plugin/*1of2\""
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.12.7 \"scripted sbt-mima-plugin/*2of2\""

    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.13.0-M5 core/test reporter/test reporter-functional-tests/test it:test"
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.13.0-M5 -Dmima.testScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="sbt -Dmima.buildScalaVersion=2.13.0-M5 -Dmima.testScalaVersion=2.13.0-M5 testFunctional"

script: eval "$TEST_COMMAND"

before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
