sudo: false

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt/boot
  - $HOME/.sbt/launchers

language: scala

scala:
  - 2.10.7

jdk:
  - oraclejdk8

matrix:
  fast_finish: true

env:
  matrix:
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 mimaReportBinaryIssues test it:test"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 -Dmima.testScalaVersion=2.11.12 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 -Dmima.testScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 -Dmima.testScalaVersion=2.13.0-M5 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.10.7 scripted"

    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 ^^1.2.6 mimaReportBinaryIssues test it:test"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 -Dmima.testScalaVersion=2.11.12 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 -Dmima.testScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 -Dmima.testScalaVersion=2.13.0-M5 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.12.7 ^^1.2.6 scripted"

    - TEST_COMMAND="-Dmima.buildScalaVersion=2.13.0-M5 core/test reporter/test reporter-functional-tests/test it:test"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.13.0-M5 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.13.0-M5 -Dmima.testScalaVersion=2.11.12 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.13.0-M5 -Dmima.testScalaVersion=2.12.7 testFunctional"
    - TEST_COMMAND="-Dmima.buildScalaVersion=2.13.0-M5 -Dmima.testScalaVersion=2.13.0-M5 testFunctional"

script:
  - sbt $TEST_COMMAND

before_cache:
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
