language: scala
jdk: openjdk8
scala:
  - 2.12.9
  - 2.13.0

script: sbt "++$TRAVIS_SCALA_VERSION mimaReportBinaryIssues" "++$TRAVIS_SCALA_VERSION test" "++$TRAVIS_SCALA_VERSION IntegrationTest/test"

jobs:
  include:
  - { name: 2.12 testFunctional 2.11, script: sbt -Dmima.buildScalaVersion=2.12.9 -Dmima.testScalaVersion=2.11.12 testFunctional }
  - { name: 2.12 testFunctional 2.12, script: sbt -Dmima.buildScalaVersion=2.12.9 -Dmima.testScalaVersion=2.12.9  testFunctional }
  - { name: 2.12 testFunctional 2.13, script: sbt -Dmima.buildScalaVersion=2.12.9 -Dmima.testScalaVersion=2.13.0  testFunctional }
  - { name: 2.13 testFunctional 2.11, script: sbt -Dmima.buildScalaVersion=2.13.0 -Dmima.testScalaVersion=2.11.12 testFunctional }
  - { name: 2.13 testFunctional 2.12, script: sbt -Dmima.buildScalaVersion=2.13.0 -Dmima.testScalaVersion=2.12.9  testFunctional }
  - { name: 2.13 testFunctional 2.13, script: sbt -Dmima.buildScalaVersion=2.13.0 -Dmima.testScalaVersion=2.13.0  testFunctional }
  - { name: scripted 1/2, script: sbt "scripted sbt-mima-plugin/*1of2" }
  - { name: scripted 2/2, script: sbt "scripted sbt-mima-plugin/*2of2" }

cache:
  directories:
  - $HOME/.ivy2
  - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2 -name "ivydata-*.properties" -delete
  - find $HOME/.sbt  -name "*.lock"               -delete
