name: ci

on:
  pull_request:
  push:

jobs:
  core:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17, 25]
        scala: [2.12.x, 2.13.x, 3.3.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt ++${{matrix.scala}} coreJVM/test coreNative/test cliJVM/test coreJVM/mimaReportBinaryIssues

  sbtplugin:
    needs: core
    strategy:
      fail-fast: false
      matrix:
        include:
          - scala: 2.12.x
            java: 8
          - scala: 3.8.x
            java: 17
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      # set ThisBuild/scalaVersion because sbtplugin depends on core, but core stays on 2.12 with `++3.8.x`
      - run: sbt ++${{matrix.scala}} 'set ThisBuild/scalaVersion := (sbtplugin/scalaVersion).value' sbtplugin/mimaReportBinaryIssues sbtplugin/scripted

  testFunctional:
    needs: core
    strategy:
      fail-fast: false
      matrix:
        scala: [2.11, 2.12, 2.13, 3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt "functional-tests/runMain com.typesafe.tools.mima.lib.UnitTests -${{matrix.scala}}"

  testIntegration:
    needs: core
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt integration-tests/test
