name: ci

on:
  pull_request:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt +test +mimaReportBinaryIssues
      # use of an old sbt version, as a smoke test. only on 2.12.
      - run: sbt ++2.12.x 'set sbtplugin/scriptedSbt := "1.5.8"' 'sbtplugin/scripted sbt-mima-plugin/minimal'
        if: matrix.java == 8

  scripted:
    needs: test
    strategy:
      fail-fast: false
      matrix:
        java: [8, 17]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt +sbtplugin/scripted

  functional-tests:
    needs: test
    strategy:
      fail-fast: false
      matrix:
        scala: [2.11, 2.12, 2.13, 3]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt ++2.12.x "functional-tests/runMain com.typesafe.tools.mima.lib.UnitTests -${{matrix.scala}}"

  integration-tests:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt ++2.12.x integration-tests/test
