name: release

on:
  push:
    tags: ["*"]

jobs:
  release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - scala: 2.12.x
            java: 8
          - scala: 2.13.x
            java: 8
          - scala: 3.3.x
            java: 8
          - scala: 3.8.x
            java: 17
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt ++${{matrix.scala}} publishSigned
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
