name: release

on:
  push:
    tags: ["*"]

env:
  PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
  PGP_SECRET: ${{ secrets.PGP_SECRET }}
  SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
  SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

jobs:
  release-core-cli:
    strategy:
      fail-fast: false
      matrix:
        scala: [2.12.x, 2.13.x, 3.3.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8
          cache: sbt
      - uses: sbt/setup-sbt@v1
      - run: sbt ++${{matrix.scala}} coreJVM/publishSigned coreNative/publishSigned cliJVM/publishSigned

  release-sbtplugin:
    strategy:
      fail-fast: false
      matrix:
        include:
          - scala: 2.12.x
            java: 8
          - scala: 3.8.x
            java: 17
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{matrix.java}}
          cache: sbt
      - uses: sbt/setup-sbt@v1
      # set ThisBuild/scalaVersion because sbtplugin depends on core, but core stays on 2.12 with `++3.8.x`
      - run: sbt ++${{matrix.scala}} 'set ThisBuild/scalaVersion := (sbtplugin/scalaVersion).value' sbtplugin/publishSigned
